.card{
  width: 412px;
  height: 412px;
  border-radius: 30px;
  padding: 10px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

@media(max-width:600px){
  .card{
    width: 327px;
    height: 360px;
  }
}